<div class="external-links-wrapper island-1-2">
  <div class="grid external-links">

    <div class="unit [ xs-1 s-1 m-1-3 ] text-center">
      <h5 class="push-0 micro text-upper">phone</h5>
      <p class="push-0 micro"><a class="other-links" href="tel:+447511719938">+44 (0) 75 117 199 38</a></p>
    </div>
    <div class="unit [ xs-1 s-1 m-1-3 ] text-center">
      <h5 class="push-0 micro text-upper">e-mail</h5>
      <p class="push-0 micro"><a class="other-links" href="mailto:info@dimitrioschantzis.com">info@dimitrioschantzis.com</a></p>
    </div>
    <div class="unit [ xs-1 s-1 m-1-3 ] text-center">
      <h5 class="push-0 micro text-upper">social</h5>
      <ul class="push-0 micro list-group-inline">
        <li class="list-group__item push-r-1-2 kilo"><a class="other-links" href="https://github.com/dchantzis" target="_blank"><i class="fa fa-github"></i> <span class="hidden">github</span></a></li>
        <li class="list-group__item push-r-1-2 kilo"><a class="other-links" href="http://twitter.com/dchantzis" target="_blank"><i class="fa fa-linkedin"></i> <span class="hidden">linkedin</span></a></li>
        <li class="list-group__item push-r-1-2 kilo"><a class="other-links" href="https://twitter.com/james_doe" target="_blank"><i class="fa fa-twitter"></i> <span class="hidden">twitter</span></a></li>
        <li class="list-group__item push-r-1-2 kilo"><a class="other-links" href="https://www.goodreads.com/user/show/30344730-james-doe" target="_blank"><i class="fa-goodreads i-goodreads">g</i> <span class="hidden">goodreads</span></a></li>
      </ul>
    </div>
  </div>
</div>
