{% assign projects = site.projects | sort: 'order-grid-3' %}
<div class="grid">
{% for i in (1..5) %}

    {% assign loop_index = forloop.index0 | times:6 %}

    <div class="unit [ unit-xs-hidden unit-s-hidden unit-m-1-5 unit-l-1-5 unit-xl-1-5 ] push-0">
      <div class="grid">
      {% if i == 0 %}{% endif %}
        {% for project in projects limit:6 offset:loop_index %}
          {% if project.includeInGrid %}{% continue; %}{% endif %}
          <div class="unit [ unit-xs-hidden unit-s-hidden unit-m-1 ] push-0">
            <figure class="graphic">
            <a class="project-link" href="{{ site.baseurl }}/work/{{project.projectSlug}}/">
              <div class="embed embed-iso216">
                <img class="embed-item img-flex" src='{{site.baseurl}}/files/{{project.projectSlug}}/thumbnail.jpg'>
              </div>
              <div class="media-body graphic-info">
                <figcaption>
                  <span class="brand">{{ project.tags }}:</span>
                  <h5 class="brand media-title">{{ project.label }}</h5>
                  <span class="brand">- view -</span>
                </figcaption>
              </div>
            </a>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
{% endfor %}
</div>

